# Ignore bundler config
/.bundle

# Ignore installed gems
/vendor/bundle

# Ignore log files
*.log
log/

# Ignore temp files
tmp/
*.tmp

# Ignore compiled Ruby files
*.rbc

# Ignore byebug command history
.byebug_history

# Ignore Ruby-specific editor/IDE settings
*.swp
*.swo
*.bak
*~
.DS_Store
.idea/
.vscode/
.ruby-lsp/

# Ignore test coverage results
coverage/
